
    <div class="_detail-main">
        <div class="row">
            <div class="col-lg-4 col-md-3">
                <h4 class="mb-5">
                    <a class="text-success logo" href="home">
                        <img src="~/theme/dist/img/logopinrumah.png" width="300" />

                    </a>
                </h4>
                <p><b>Taman Anggrek 2-14C Jl. S.Parman Jakbar 11470</b></p>
                <p class="mb-0">+62 21 633 8080</p>
                <p class="mb-0">admin@pinrumah.com</p>
                <p class="mb-0">www.pinrumah.com</p>
            </div>

        </div>
    </div>